html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, select, textarea, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
body{background: #fcf5e7;}
.van-tabbar-item--active{ color: #f53711;}
.van-swipe-item img{ width: 100%; height: 100%;}
/*顶部*/
.van-nav-bar{background: #EE383D; color: #fff;}
.van-nav-bar .van-nav-bar__text,.van-nav-bar .van-icon{color: #fff;}
.van-nav-bar__text:active{background: #cb2126;}

.finished{ line-height: 40px; text-align: center; font-size: 12px; color: #999;}
